

body {
    padding: 0 0 0 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-image: url("../images/bg5.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
}

section {
    margin-top: 15px;
}

section#header_section {
    margin-top: 55px;

}

hr {
    color: #204d74;
    border-color: #204d74;
    border-style: dashed;
}


label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}
input[type=password] {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

button {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    font-size: 18px;
}

/*
    Special classes
*/
.z0 {
    z-index: 0;
}
.z5 {
    z-index: 5;
    position: relative;
}
.trans_white_bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
}
.bordered {
    border: 1px solid #265a88;
}

.padding_5 {
    padding: 5px 5px 5px 5px;
}

.padding_10 {
    padding: 10px 10px 10px 10px;
}

.padding_15 {
    padding: 15px 15px 15px 15px;
}


/*
    login form styles
*/
.login_form_container {
    display: none;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 60px;
    max-width: 420px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.signup_form_container {
    display: none;
    border-radius: 8px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 60px;
    max-width: 420px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}



.div_cont {
    position: relative;
    width: 100%;
    height: 100%;
}


#main_navigation li {
    display: inline-block;
}

#main_navigation li:not(:last-child):after {
    position: relative;
    content: "|";
    margin-right: 10px;
    margin-left: 14px;
    font-size: 22px;
    top: 3.5px;
}

#footer_section {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    color: #ffffff;
}



.error {
    color: red;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}


/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}


/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
    #slide-nav .container {
        margin: 0!important;
        padding: 0!important;
        height:100%;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        bottom:0;
        width: 80%;
        left: -80%;
        background: #f7f7f7;
    }
    #navbar-height-col.inverse {
        background: #333;
        z-index: 1;
        border: 0;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
    button {
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
        font-size: 18px;
    }

}
@media (min-width:768px) {
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
    button {
        /*margin-top: 10px;*/
        /*margin-bottom: 10px;*/
        font-size: 18px;
    }

}

