<!DOCTYPE html>
<html>
    <head>
        <title>Udacity Blog</title>
        {% block style_content %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="static/custom.css"/>
        {% endblock %}
    </head>

<body id="bodyBG">

    <!-- Navigation Section -->
    {% include 'navigation.html' %}

    <!--Header section-->
    <div id="header_section" class="container">
        <div class="row">
            <div id="header_title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding_15">
                {% block webtitle %}
                    <img src="images/webtitle.svg" width="100%" style="max-width: 600px;" />
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Body Section -->
    <div id="content_section" class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer Section -->
    {% include 'footer.html' %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/jquery-3.1.1.min.js" language="javascript" type="text/javascript" rel="script"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <!--Custom scripts-->
    <script language="JavaScript">
        function bgSize() {
            var e = window, a = 'inner';
            if (!( 'innerWidth' in window )) {
                a = 'client';
                e = this.document.documentElement || this.document.body;
            }
            this.document.getElementById("bodyBG").style.backgroundSize = e[a + 'Width'] + "px " + e[a + 'Height'] + "px";
            this.document.getElementById("bodyBG").style.backgroundPosition = "0px 0px";
        }
        bgSize();
        this.window.onresize = function () {
            bgSize();
        }
    </script>
    <script src="static/custom.js" language="JavaScript"></script>

</body>

</html>

