{% extends "base.html" %}

<!-- displaying the blogs inside the content block -->
{% block content %}

    {% for blog in blog_collection %}
        <br />
        <div class="container">
            <div class="row">

                <div class="col-xs-12 bordered_1_white padding_15">
                    <div class="trans_black_bg"></div>

                    <div class="row">
                        <!-- blog subject container -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="/blog/{{ blog.blog.key().id() }}"><h1>{{ blog.blog.subject }}</h1></a>
                        </div>
                    </div>

                    <div class="row">
                        <!-- blog creator info container -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            Written by: <span class="fontCam">{{ blog.blog.created_by }}</span>
                        </div>
                        <!-- blog date info container -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                            Post Date: {{ blog.blog.created.strftime("%b %d, %Y") }}
                        </div>
                    </div>

                    <div class="row">
                        <hr class="line_divider_white z5"/>
                    </div>

                    <div class="row">
                        <!-- blog content container -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="handwritten">{{ blog.blog.content | safe }}</span>

                        </div>
                    </div>

                    <div class="row">
                        <hr class="line_divider_white z5"/>
                    </div>

                    <!-- display saved comments -->
                    <div class="row">
                        <!-- blog comments container -->
                        <div class="col-xs-12 text-right">
                            <u>User Comments:</u>
                            {% if not blog.comments %}
                                <p>No Comments Available.</p>
                            {% else %}
                                {% for comments in blog.comments %}
                                    <br/>
                                    Date: {{ comments.created.strftime("%b %d, %Y") }}
                                    <br/>
                                    User: {{ comments.user }}
                                    <br/>
                                    {{ comments.content }}
                                    <br/>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <!-- comment form hidden from view -->
                    <div id="form_container_{{ blog.blog.key().id() }}" class="comment_form_container">
                        <div class="row">
                            <hr class="line_divider_white"/>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <!-- comment form -->
                                <form method="post">
                                    <input type="hidden" name="form_name" value="comments_form">
                                    <input type="hidden" name="entry_id" value="{{ blog.blog.key().id() }}">
                                    {% if username %}
                                        <input type="hidden" name="user_name" value="{{ username }}">
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="label">Enter your comment:</label>
                                        <textarea name="comment" class="form-control" placeholder="Comment here ..."></textarea>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Comment">
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="line_divider_white z5"/>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <!-- Like Form -->
                            <form method="post" class="inline_display">
                                <input type="hidden" name="form_name" value="likes_form" />
                                <input type="hidden" name="entry_id" value="{{ blog.blog.key().id() }}" />
                                <input type="submit" class="btn btn-primary" value="Like +{{ blog.likes }}" />
                            </form>
                            <!-- Comment Button -->
                            <span class="inline_display">
                                <button id="{{ blog.blog.key().id() }}" class="btn btn-primary comment_btn">Comment</button>
                            </span>
                        </div>

                        <div class="col-xs-6 text-right">
                            {% if username %}
                                {% if blog.blog.created_by == username  %}
                                    <span class="inline_display">
                                        <form method="post">
                                            <input type="hidden" name="form_name" value="edit_post" />
                                            <input type="hidden" name="post_id" value="{{ blog.blog.key().id() }}" />
                                            <input type="submit" class="btn btn-primary" value="Edit" />
                                        </form>
                                    </span>
                                    <span class="inline_display">
                                        <form method="post">
                                            <input type="hidden" name="form_name" value="delete_post" />
                                            <input type="hidden" name="post_id" value="{{ blog.blog.key().id() }}" />
                                            <input type="submit" class="btn btn-primary" value="Delete" />
                                        </form>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <br />

    {% endfor %}

{% endblock %}
