{% extends "base.html" %}

<!-- displaying the blogs inside the content block -->
{% block content %}

    <div class="container">
        <!-- loop through all the posts available -->
        {{ posts.render() | safe }}
{#        {% for p in posts.posts %}#}
{#            <br>#}
{#            <div class="row">#}
{#                {{ p.render() | safe }}#}
{#                {% for c in comments %}#}
{#                    {{ c.content }}#}
{#                {% endfor %}#}
{#            </div>#}
{#            <br>#}
{#        {% endfor %}#}
    </div>

{% endblock %}
