{% extends 'base.html' %}

{% block content %}

<form method="post">
    <!-- input - username -->
    <div class="form-group">
        <div class="label">Username</div>
        <div><input type="text" name="username" value="{{ username }}" class="form-control"></div>
        <div class="error">{{ error_username }}</div>
    </div>
    <!-- input - password -->
    <div class="form-group">
        <div class="label">Password</div>
        <div><input type="password" name="password" value="" class="form-control"></div>
        <div class="error">{{ error_password }}</div>
    </div>
    <!-- submit button -->
    <input type="submit" class="btn btn-primary">

</form>

{% endblock %}