{% extends "base.html" %}

{% block content %}

    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
        <br />
        <br />
        <h2>Welcome to the blog for Udacity</h2>
        <br />
        <br />
        <p>Please <a href="/login">login</a> or <a href="/signup">signup</a> for more features or <a href="/blog">browse</a> all the Blogs.</p>
        <br />
        <br />
        <p>Please note that this blog is only an assignment and does not in any way feature your written blogs.</p>
    </div>

{% endblock %}