{% extends "base.html" %}

{% block content %}
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">

</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">

  <h2>new post</h2>

  <form method="post">
    <label>
      <div>subject</div>
      <input type="text" name="subject" value="{{subject}}" class="form-control">
    </label>

    <label>
      <div>blog</div>
      <textarea name="content" class="form-control">{{content}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="hidden" name="created_by" value="{{ created_by }}" />

    <input type="submit" class="btn btn-primary" />
  </form>

</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">

</div>
{% endblock %}
