<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Start</title>
    <link type="text/css" rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="static/custom.css" />

</head>
<body>

<!--Header section-->
<section id="header_section" class="container">
        <div class="row">
            <div id="header_title" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center padding_15">
                <div class="div_cont bordered">
                    <h1>Udacity Blog</h1>
                </div>
            </div>
            <div id="user_login_logout" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center padding_15">
                <div class="div_cont bordered">
                Login
                </div>
            </div>

        </div>
</section>

<hr width="50%" />

<!--Navigation section-->
<section id="nav_section" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding_15">
            <div class="div_cont bordered">
                <ul id="main_navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blogs</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<hr width="50%" />

<!--Body and sidebar section-->
<section id="body_section" class="container">
    <div class="row">
        <div class="col-lg-3 padding_15">
            <div class="div_cont bordered">
                Sidebar
            </div>
        </div>
        <div class="col-lg-9 padding_15">
            <div class="div_cont bordered">
                Content
            </div>
        </div>
    </div>
</section>

<hr width="50%" />

<!--Footer section-->
<section id="footer_section" class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding_15">
            <div class="div_cont bordered">
            Footer
            </div>
        </div>
    </div>
</section>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/jquery-3.1.1.min.js" language="javascript" type="text/javascript" rel="script"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
